*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url('https://img.freepik.com/free-vector/blue-technology-wire-mesh-background_1017-17262.jpg?size=626&ext=jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.class{
    width: 800px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 3px 2px 3px 4px black;
    margin-left: 50px;
    margin-top: 60px;

}
.class img{
    width: inherit;
    height: inherit;
    border-radius:inherit;
    filter: brightness(20px);
    
}
.id{
    width: 800px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 3px 2px 3px 4px black;
    margin-left: 50px;
    margin-top: 60px;

}
.id img{
    width: inherit;
    height: inherit;
    border-radius:inherit;
    filter: brightness(20px);
    
}
h1{
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 30px;
}