*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.2);
}
header{
    height: 60px;
    width: 100%;
    background-color:lightgreen;
    color: white;
    font-size: 40px;
}
.container{
    display: flex;
}
.container h1{
    font-size: 30px;
    color: lightgreen;
    font-style: oblique;
    margin-top: 5px;
    line-height: 25px;
}
.container p{
    font-size: 20px;
    color: black;
    line-height: 26px;
}
h2{
    line-height: 30px;
}
.container1{
    width: 400px;
    height: 450px;
    background-color: white;
    box-shadow: 2px 3px 3px 3px rgb(15, 15, 15);
    margin-left: 50px;
    margin-top: 30px;
    transition: all 2.5s;
}
legend{
    line-height: 25px;
}
.container2{
    width: 400px;
    height: 380px;
    background-color: white;
    box-shadow: 2px 3px 3px 3px rgb(11, 11, 11);
    margin-left: 50px;
    margin-top: 30px;
    transition: all 2s;
    
}
.container2:hover{
   width: 500px;
   height: 400px;
   transform: scale(1,1);
}
.container1:hover{
    width: 450px;
    height: 500px;
 }
 
h3{
    font-size: 30px;
    line-height: 32px;
    margin-top: 30px;
}
ul{
    line-height: 30px;
    margin-left: 30px;
}