*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url('https://e0.pxfuel.com/wallpapers/149/259/desktop-wallpaper-web-development-thumbnail.jpg');
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;


}
.container{
    
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-evenly;

}
.container a{
    
    font-size: 20px;
    padding-top: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
}
.home h2{
    color: white;
    align-items: center;
    font-size: 35px;
    
}
.home{
    margin-top:150px;
}
.home h1{
    color: white;
    align-items: center;
    font-size: 35px;
    animation-name: h1;
    animation-duration: 4s;
    overflow: hidden;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    
}
@keyframes h1{
    from{
       width: 0%;
    }
    to{
         width: 100%;
    }
}
.home p{
    color: white;
    align-items: center;
    font-size: 30px;
    
}
.home-scl  {
    margin-left: 50px;
}
.home-scl a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(0, 0, 255);
    border-radius: 50%;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.home-scl a:hover {
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;

}
.image{
    width: 250px;
    height: 250px;
    border-radius: 30%;
    box-shadow: 3px 2px 4px 3px red;
    box-shadow: 0 0 20px rgb(139, 192, 179);
    position: absolute;
    right: 80px;
    top: 150px;
    

}
.image img {
    width: inherit;
    height:inherit;
    border-radius: inherit;
    transform: scale(1,1);
    background-position: center;
   
}
.container a:hover{
    color: blue;
    box-shadow: 0 0 20px rgb(212, 23, 145);
    font-size: 30px;

}
